.icons {
  background-color: rgb(155, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 2px solid black;
  margin: 3px;
  cursor: pointer;
}
