.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 10px; */
  padding-top: 20px;
  width: 100%;
}

.profile-page-name-and-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-page-name {
  padding-right: 5px;
  font-size: 30px;
  font-weight: bold;
}

.profile-page-status {
  border: 2px solid var(--primary-color);
  font-size: 10px;
  width: 50px;
  align-self: center;
  text-align: center;
}

.profile-page-img-container {
  position: relative;
  display: inline-block;
}

.profile-page-img {
  width: 150px;
  height: 150px;
  filter: drop-shadow(2px 2px 4px var(--dark-background));
  border-radius: 50%;
}

.profile-page-img-edit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-page-picture-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.active {
  color: green;
}

.user-data-container {
  width: 33%;
}

.form-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1%;
}

.form-element-label {
  flex-basis: 30%;
  flex-grow: 0;
  text-align: left;
}

.form-element-input {
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
}

.form-element-input:focus {
  /* border: 2px solid var(--primary-color-brighter); */
  border-bottom: 4px solid var(--primary-color-brighter);
  /* border-right: 3px solid var(--primary-color-brighter); */
  padding-bottom: 0px;
  outline: none;
}

.user-data-form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.user-data-form-submit-button {
  width: 33%;
  align-self: center;
}

.education-occupation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 25px;
}
