.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.icon {
  flex-basis: auto;
  height: 25px;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
  color: var(--color-icon-nav);
}

.icon:hover {
  color: var(--color-icon-nav-hover);
  /* border-bottom: 2px solid var(--color-icon-nav-hover); */
}

.navbar-user-picture {
  width: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-icon-nav);
}

.navbar-user-picture:hover {
  border: 2px solid var(--color-icon-nav-hover);
}
