.app-main {
  display: flex;
}

.app-main-sidebar {
  flex-grow: 15;
  flex-basis: 15%;
}

.app-main-content {
  display: flex;
  justify-content: center;
  height: 84vh;
  flex-grow: 85;
  flex-basis: 85%;
  background-color: rgb(255, 241, 223);
  overflow-y: scroll;
}
