.main {
  display: flex;
}

.main-sidebar {
  flex-grow: 15;
  flex-basis: 15%;
}

.main-content {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-grow: 85;
  flex-basis: 85%;
  background-color: rgb(255, 241, 223);
}
