.app-main {
  display: flex;
}

.app-main-content {
  /* display: flex; */
  /* justify-content: center; */
  height: 84vh;
  flex-grow: 85;
  flex-basis: 85%;
  background-color: #f1f3f2;
  /* overflow-y: scroll; */
}
