:root {
  --primary-color: rgb(29, 82, 151, 1);
  --primary-color-09: rgb(29, 82, 151, 0.9);
  --primary-color-06: rgb(29, 82, 151, 0.6);
  --black: rgba(0, 0, 0, 1);
  --black-09: rgba(0, 0, 0, 0.9);
  --black-08: rgba(0, 0, 0, 0.8);
  --black-06: rgba(0, 0, 0, 0.6);
  --black-05: rgba(0, 0, 0, 0.5);
  --black-04: rgba(0, 0, 0, 0.4);
  --black-03: rgba(0, 0, 0, 0.3);
  --black-02: rgba(0, 0, 0, 0.2);
  --red-warning: rgba(183, 30, 30, 1);
  --red-warning-09: rgba(183, 30, 30, 0.9);
  --red-warning-08: rgba(183, 30, 30, 0.8);
  --red-warning-06: rgba(183, 30, 30, 0.6);
  --dark-background: #191b1c;
  --almost-white: #f4f2ee;
  --light-blue: #6bade8;
  --accent-color: #ffc51b;
  --darker-accent-color: #a17100;
}

/* Custom fonts */
@font-face {
  font-family: "FenomenSans-Book";
  src: url("../public/assets/fonts/FenomenSans-Book.woff2") format("woff2"),
    url("../public/assets/fonts/FenomenSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NarkissBlock-Regular";
  src: url("../public/assets/fonts/NarkissBlock-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/NarkissBlock-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "FenomenSans-Book", "NarkissBlock-Regular", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  cursor: default;
}

/* Cancel link visited or active styling */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: var(--primary-color-09);
  color: var(--almost-white);
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  background-color: var(--primary-color);
}

input,
textarea {
  border: 1px solid var(--dark-background);
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
}

input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
  outline: none;
  border-bottom: 4px solid var(--primary-color-09);
  padding-bottom: 0px;
}

select {
  border: 1px solid var(--dark-background);
  /* background-color: var(--almost-white); */
  border-radius: 5px;
  padding: 5px;
}

select:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

select option {
  font-family: monospace;
}

.accent-text {
  color: var(--primary-color);
}
