.education-box {
  /* border: 1px solid rgba(0, 0, 0, 0.366); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 20px; */
  background-color: rgba(0, 0, 0, 0.111);
  border-radius: 17%;
  padding: 1rem 0.5rem;
}

.education-box-institution-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.education-box-institution-logo {
  height: 60px;
  width: 60px;
  border-radius: 17%;
  filter: drop-shadow(2px 2px 4px var(--dark-background));
  margin: 0.5rem 0;
}

.education-box-duration {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.education-box-degree {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.education-box-remove-button {
  margin-top: 5px;
}
