/* TODO: change to grid */
.database-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-direction: row;
  /* margin: 1rem 0; */
  overflow-y: scroll;
  flex-grow: 1;
}
