.job-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin-bottom: 2rem;
  border: 2px solid #e6e6e6;
  background-color: rgba(0, 0, 0, 0.05);
}

.job-offer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
}

.job-offer-header-date {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: flex-start;
}

.job-offer-header-publisher {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: end;
}

.job-offer-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.job-offer-company-img {
  width: 25%;
  border-radius: 33%;
  filter: drop-shadow(2px 2px 4px var(--dark-background));
  margin-bottom: 0.5rem;
}

.job-offer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 90%; */
  margin: 1rem;
  border-bottom: 2px solid var(--primary-color);
  background-color: rgba(0, 0, 0, 0.05);
}

#job-offer-link {
  color: var(--primary-color);
}

.job-offer-detail-holder {
  width: 100%;
  margin: 0.5rem 0;
}

.job-offer-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 90%; */
  margin: 0.2rem 2rem;
  border-bottom: 2px solid var(--primary-color);
  background-color: rgba(0, 0, 0, 0.05);
  text-align: left;
  padding: 0.6rem;
}

.job-offer-footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #191b1cd9;
  width: 40%;
  padding: 1rem;
}
