.education-container {
  background-color: grey;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.education-add-new {
  border: 1px solid black;
}

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
