.education-container {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.education-container-add-button {
  margin: 10px;
}

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.education-section-remove-controller {
  margin-top: 10px;
}
