.main-window {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    border: 2px solid green;
}

.side-bar {
    border: 2px solid violet;
    width: 20vw;
}

.content
{
    border: 2px solid blue;
    width: 80vw;
}