.search-bar
{
    display: flex;
    justify-content: center;
    padding: 10px 0;
background-color: rgba(0, 0, 0, 0.386);
}

.search-button
{
    margin-left: 10px;
}

.filter-zone
{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
}

.dropdown-label
{
    font-weight: 600;
    margin-left: 10px;
}

.dropdown-menu
{
    margin: 0 5px;
}