.footer {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
}

#footer-credit-link {
  color: var(--primary-color);
  display: inline-block;
  position: relative;
}

#footer-credit-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color-06);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#footer-credit-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 5px;
  width: 42rem;
  max-width: 450px;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  transition:
    opacity 0.35s,
    visibility 0.15s;
  font-size: 0.9rem;
  opacity: 0;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
