.footer {
  display: flex;
  position: sticky;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 194, 194);
  height: 6vh;
}

.footer-item {
  margin: 0 40px;
  cursor: pointer;
}
