.occupation-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 0.5rem;
  column-gap: 0.5rem;
  border: 2px solid var(--black-02);
}

.occupation-box-left-section,
.occupation-box-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.2rem;
}

.occupation-box-left-section {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
}

.occupation-box-right-section {
  align-items: flex-start;
  /* justify-content: flex-start; */
  flex-grow: 1;
  /* flex-wrap: wrap; */
  text-align: start;
}

.occupation-box-company-name {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.occupation-box-company-logo {
  height: 40px;
  width: 40px;
  border-radius: 17%;
  filter: drop-shadow(2px 2px 4px var(--dark-background));
}

.occupation-box-duration {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--black-03);
}

.occupation-box-position {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.occupation-box-remove-button {
  align-self: flex-start;
}
