.navigation {
  display: flex;
  height: 100%;
}

.navigation-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 6vw;
  margin: 0.4rem 1rem;
}

.navigation-item:link,
.navigation-item:visited {
  border-bottom: 3px solid var(--primary-color-brightest);
  color: var(--color-icon-nav);
}

.navigation-item:hover,
.navigation-item:active {
  border-bottom: 3px solid var(--primary-color);
  color: var(--color-icon-nav-hover);
}

.navigation-item-active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 6vw;
  margin: 0.4rem 1rem;
  border-bottom: 3px solid var(--primary-color);
  color: var(--color-icon-nav-hover);
}

.navigation-icon {
  font-size: 2rem;
}

.navigation-icon-text {
  font-size: 0.8rem;
}
