.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(103, 216, 165);
}

.sidebar-item {
  cursor: pointer;
  border: 2px solid brown;
  margin: 20px 0;
}
