.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(130, 130, 130);
}

.sidebar-item {
  cursor: pointer;
  margin: 20px 0;
}

.sidebar-item:link,
.sidebar-item:visited {
  background-color: #4e4bf5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5%;
}

.sidebar-item:hover,
.sidebar-item:active {
  background-color: rgb(77, 23, 225);
}
