.homepage-img-wrap {
  /* background-color: red; */
  position: relative;
  /* display: flex; */
  overflow-y: scroll;
  margin: 0;
  height: inherit;
}

.homepage-placeholder {
  display: block;
  /* top: 50%;
  left: 50%; */
  /* min-height: 100%; */
  /* min-width: 100%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: inherit;
}
