.navbar {
  background-color: var(--almost-white);
  font-style: italic;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  position: sticky;
}

.navbar-logo {
  background-color: var(--primary-color);
  width: 15vw;
}

.navbar-logo-img {
  width: 10vh;
}
