.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--almost-white);
  position: sticky;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 0.4rem;
  margin-right: 9rem;
  margin-left: 1rem;
}

.navbar-logo-img {
  width: 7vh;
}
