::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background-color: var(--primary-color-06);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-09);
}

::-webkit-scrollbar-track {
  background-color: var(--almost-white);
}
