.experience-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem 0.5rem;
  column-gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 1rem;
}

.experience-box-left-section,
.experience-box-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.2rem;
}

.experience-box-left-section {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
}

.experience-box-right-section {
  align-items: flex-start;
  flex-grow: 1;
  text-align: start;
}

.experience-box-company-name {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.experience-box-company-logo {
  height: 40px;
  width: 40px;
  border-radius: 17%;
  filter: drop-shadow(2px 2px 4px var(--dark-background));
}

.experience-box-duration {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--black-03);
}

.experience-box-position {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.experience-box-remove-button {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background-color: var(--red-warning-08);
  width: 1.5rem;
  height: 1.5rem;
}

.experience-box-remove-button:hover {
  background-color: var(--red-warning);
}
