.login-form-container {
  width: 25%;
}

.register-form-container {
  width: 30%;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.form-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10%;
}

.login-form-label {
  flex-basis: 20%;
  text-align: left;
}

.register-form-label {
  flex-basis: 50%;
  text-align: left;
}

.login-form-input {
  flex-basis: 60%;
  flex-grow: 0;
}

.register-form-input {
  flex-basis: 75%;
  flex-grow: 0;
}

.login-form-input:focus {
  /* border: 2px solid var(--primary-color-brighter); */
  border-bottom: 4px solid var(--primary-color-brighter);
  /* border-right: 3px solid var(--primary-color-brighter); */
  padding-bottom: 0px;
}

.register-form-input:focus {
  /* border: 2px solid var(--primary-color-brighter); */
  border-bottom: 4px solid var(--primary-color-brighter);
  /* border-right: 3px solid var(--primary-color-brighter); */
  padding-bottom: 0px;
}

.landing-page-action-link {
  cursor: pointer;
  color: var(--primary-color);
}

.landing-page-action-link:hover {
  color: var(--light-blue);
}
