.login-form-container {
  width: 25%;
}

.register-form-container {
  width: 30%;
}

.login-form-container,
.register-form-container {
  background: rgb(244, 242, 238);
  background: linear-gradient(15deg, rgba(244, 242, 238, 1) 20%, rgba(244, 242, 238, 0.8) 100%);
  box-shadow:
    rgba(205, 205, 248, 0.35) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.4) 0px 30px 60px -30px,
    rgba(137, 164, 191, 0.45) 0px -2px 6px 0px inset;
  border-radius: 3%;
  padding: 1rem 2.5rem;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.form-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1%;
}

.login-form-label {
  flex-basis: 20%;
  text-align: left;
}

.register-form-label {
  flex-basis: 60%;
  text-align: left;
}

.login-form-input {
  flex-basis: 60%;
  flex-grow: 0;
}

.register-form-input {
  flex-basis: 40%;
  flex-grow: 0;
}

.recovery-form-input {
  width: 13rem;
}

.login-form-input:focus,
.register-form-input:focus,
.recovery-form-input:focus {
  /* border: 2px solid var(--primary-color-09); */
  border-bottom: 4px solid var(--primary-color-09);
  /* border-right: 3px solid var(--primary-color-09); */
  padding-bottom: 0px;
  outline: none;
}

.landing-page-action-link {
  cursor: pointer;
  color: var(--primary-color);
}

.landing-page-action-link:hover {
  color: var(--light-blue);
}

.login-form-submit-button,
.register-form-submit-button,
.recovery-form-submit-button {
  width: 40%;
  align-self: center;
}

.recovery-form-submit-button {
  margin-top: 0.5rem;
}
