.occupation-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 30vw;
  row-gap: 0.2rem;
}

.occupation-container-add-button {
  margin: 10px;
}

.occupation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.occupation-section-remove-controller {
  margin-top: 10px;
}

.occupation-container-new-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 50%;
  text-align: start;
}

.new-form-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.new-form-button {
  flex-grow: 1;
}
